/* ---------------------------------------------------CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

/* ---------------------------------------------------GLOBAL STYLES */


body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    max-width: 60%;
    min-height: 100vh;
    margin: auto;
    background-color: #FFF;
}

header {
    text-align: center;
    margin: 30px;
}

.container {
    max-width: 600px;
    margin: auto;
    /* padding: calc(8px + 1.5625vw); */
}

h1 { 
    font-weight: 100;
}

h3, h4 {
    text-align: center;
}

.yearspan { 
    color: red;
    font-weight: 800;
}

input {
    margin-top: 0;
}

.inputsection {
    border: 1px solid black;
    display: grid;
    gap: 1rem;
    margin-bottom: 20px;
    padding: 24px;
    background-color: #FFFAEB;
}

.form-button {
    text-align: center;
}

.submit-button {
    padding: 10px 30px;
    background: none;
    outline: nonoe;
    color: #212121;
    text-align: center;
    text-decoration: none;
    border: 3px solid #6CAE75;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s;
}

.submit-button:hover{
    color: #000;
    background-color: #6CAE75;
}


@media (min-width: 40em) {
    .inputsection {
        grid-template-columns: repeat(2, 1fr);
    }
}

.disclaimer {
    font-style: italic;
    font-size: smaller;
    margin: 50px 0px 50px 0px;
    text-align:center;
}